<!DOCTYPE html>
<html>
<title>Event Data Formatted</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<body id="myPage">


<!-- Navbar -->
<div class="w3-top">
 <div class="w3-bar w3-theme-d2 w3-left-align">
  <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-hover-white w3-theme-d2" href="javascript:void(0);" onclick="openNav()"><i class="fa fa-bars"></i></a>
  <a href="#" class="w3-bar-item w3-button w3-teal"><i class="fa fa-home w3-margin-right"></i>Logo</a>
  <a href="#contact" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Documentation</a>
    <div class="w3-dropdown-hover w3-hide-small">

    <button class="w3-button" title="Notifications">Dropdown <i class="fa fa-caret-down"></i></button>
    <div class="w3-dropdown-content w3-card-4 w3-bar-block">
      <a href="#" class="w3-bar-item w3-button">Link</a>
      <a href="#" class="w3-bar-item w3-button">Link</a>
      <a href="#" class="w3-bar-item w3-button">Link</a>
    </div>
  </div>
  <a href="#" class="w3-bar-item w3-button w3-hide-small w3-right w3-hover-teal" title="Search"><i class="fa fa-search"></i></a>
 </div>


<!-- Form box -->
<form action="/action_page.php">
  Location:<br>
  <input type="text" name="location" value="San Francisco"><br>
  Pages to Scrape:<br>
  <input type="text" name="num_of_pages" value="1"><br>
  Category:<br>
  <select>
    <option value="any_category">Any category</option>
    <option value="arts">Arts</option>
    <option value="auto_boat_air">Auto, Boat & Air</option>
    <option value="business">Business</option>
    <option value="cha">Charity & Causes</option>
    <option value="family_and_education">Family & Education</option>
    <option value="film_and_media">Film & Media</option>
    <option value="food_and_drink">Food & Drink</option>
    <option value="government">Government</option>
    <option value="health">Health</option>
    <option value="hobbies">Hobbies</option>
    <option value="holiday">Holiday</option>
    <option value="home_and_lifestyle">Home & Lifestyle</option>
    <option value="music">Music</option>
    <option value="school_activities">School Activities</option>
    <option value="science_and_tech">Science & Tech</option>
    <option value="spirituality">Spirituality</option>
    <option value="sports">Sports & Fitness</option>
    <option value="travel">Travel & Outdoor</option>

 </select></br>
  Event Type:<br>
 <select>
   <option value="appearance">Appearance</option>
   <option value="attraction">Attraction</option>
   <option value="class">Class</option>
   <option value="conference">Conference</option>
   <option value="convention">Convention</option>
   <option value="expo">Expo</option>
   <option value="festival">Festival</option>
   <option value="gala">Gala</option>
   <option value="game">Game</option>
   <option value="networking">Networking</option>
   <option value="party">Party</option>
   <option value="performance">Performance</option>
   <option value="race">Race</option>
   <option value="rally">Rally</option>
   <option value="retreat">Retreat</option>
   <option value="screening">Screening</option>
   <option value="seminar">Seminar</option>
   <option value="tour">Tour</option>
   <option value="tournament">Tournament</option>
</select></br>

Time Frame:<br>
<select>
 <option value="today">Today</option>
 <option value="tomorrow">Tomorrow</option>
 <option value="this_weekend">This weekend</option>
 <option value="this_week">This week</option>
 <option value="next_week">Next week</option>
 <option value="this_month">This month</option>
</select></br><br>

 <input type="submit" value="Submit">

</form>




<!-- How This Works Container -->
<div class="w3-container w3-padding-64 w3-center" id="team">
<h2>First Step</h2>
<p>Determine what event data you need and where</p>

<div class="w3-row"><br>

<div class="w3-quarter">
  <img src="/w3images/avatar.jpg" alt="Boss" style="width:45%" class="w3-circle w3-hover-opacity">
  <h3>Second Step</h3>
  <p>???</p>
</div>

<div class="w3-quarter">
  <img src="/w3images/avatar.jpg" alt="Boss" style="width:45%" class="w3-circle w3-hover-opacity">
  <h3>Third Step</h3>
  <p>???</p>
</div>

<div class="w3-quarter">
  <img src="/w3images/avatar.jpg" alt="Boss" style="width:45%" class="w3-circle w3-hover-opacity">
  <h3>Fourth Step</h3>
  <p>???</p>
</div>

<div class="w3-quarter">
  <img src="/w3images/avatar.jpg" alt="Boss" style="width:45%" class="w3-circle w3-hover-opacity">
  <h3>5th Step</h3>
  <p>???</p>
</div>

</div>
</div>








</body>
</html>
